body {
    margin:0;
    height:100%;
    padding: 20px;
    color: #ddd;
    background-color: #222;
    font-family: "Roboto";
    font-weight: 400;
}

h1 {
    margin-top: 100px;
    text-align: center;
    color: #bbb;
    font-weight: 300;
    text-shadow: 0 0 10px #222;
}

.snow {
    margin-top: 60px;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 0 10px #222;
}

.nosnow {
    margin-top: 60px;
    font-size: 18px;
    text-align: center;
}

.testmode {
    color: #999;
    font-size: 12px;
    text-align: center;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
